% rebase('base.html', title='Converter Page')

<div class="my-3 p-2 border rounded shadow-sm">
    <p>Документ: <b>{{name+'.doc'}}</b></p>
    <hr />

    % if info is not None:
        % for row in info:
            <p>{{row[0]}} {{row[1]}}</p>
        % end
    % end

    <form class="text-center" action="{{find_link}}" method="post">
        <button class="btn btn-primary">Найти тесты</button>
    </form>
</div>


% if info is not None:
<div class="my-3 p-2 border rounded shadow-sm">
    <form action="{{convert_link}}" method="post">
        <div class="form-group">
            <label for="name">Название теста</label>
            <input required id="name" name="name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="comment">Комментарии</label>
            <textarea id="comment" name="comment" class="form-control"></textarea>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-success">Конвертировать</button>
        </div>
    </form>
</div>
% end