% rebase('base.html', title='Main Page')

% for folder in folders:
<div class="my-4 p-2 border rounded shadow-sm">
    <div class="h4 text-capitalize">{{folder['name']}}</div>
    <table class="table table-sm">
        <tr class="font-weight-bold">
            <td>№</td>
            <td>Название</td>
            <td>Статус</td>
            <td></td>
        </tr>
        % for index, document in enumerate(folder['documents']):
        <tr>
            <td>{{index+1}}</td>
            <td>{{document['name']}}</td>
            <td>{{document['status']}}</td>
            <td><a href="{{'/'+folder['initial']+'/'+document['name']}}">Открыть</a></td>
        </tr>
        % end
    </table>
</div>
% end
