% rebase('base.html', title='Quiz Page')

<div class="my-3 p-2 border rounded shadow-sm">
    <p>Название файла: {{name+'.json'}}</p>
    <hr />
    <p>Название: {{subject['name']}}</p>
    <p>Версия теста: {{subject['_v']}}</p>
    <p>Режим: {{subject['mode']}}</p>
    <p>Дата создания: {{subject['created']}}</p>
    <p>Комментарий: {{subject['comment']}}</p>
</div>

    % for quiz in subject['quizes']:
    <div class="my-2 p-2 border rounded shadow-sm">
        <p>{{!quiz['question']}}</p>
            % for answer in quiz['answers']:
            <p>{{!answer[0]}} {{!answer[1]}}</p>
            % end

            % for fake_answer in quiz['fake_answers']:
            <p>{{!fake_answer[0]}} {{!fake_answer[1]}}</p>
            % end
    </div>
    % end
